.setting-title{
    margin-bottom: 20px;
}.setting-wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
   
    .setting-content{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 20px;
        
        input{
            margin-left: 10px;
            flex: 1;
        }
    }
    .input-wrap{
        display: flex;
    }
    .setting-img-block{
        max-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .setting-img{
            width: 200px;
            height: 200px;
        }
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        label{
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 500;
            font-family: inherit;
            cursor: pointer;
            transition: all 0.25s;
            background-color: var(--btn-primary);
            color: var(--text-light);
            transition: .3s all;
            margin-bottom: 10px;
            text-align: center;
        }
        .file-input{
            display: none;
        }
    }
}
.theme-setting{
    .inputs-block{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .inputs-block span{
        margin-right: 10px;
        color: var(--text-light);
        font-weight: bold;
    }
    .inputs-block input{
        border: 1px solid var(--btn-primary);
        cursor: pointer;
    }
    .inputs-block button{
        margin-left: 30px;
    }
}