.modal-wrap{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal{
        width: 400px;
        background:rgb(247, 245, 251, .6);
        border-radius: 10px;
        display: flex;
        padding: 0px 10px 10px;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: relative;
    }
    .modal-title{
        background-color: var(--purple-base);
        color:  var(--text-light);
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        padding: 10px;
        width: 100%;
    }
    input{
        padding: 10px 20px;
        width: 80%;
    }
    .error-text{
        height: 10px;
        position: absolute;
        bottom: 50px;
        color: var(--text-main);
        font-size: 12px;
    }
}